#!/bin/sh

# Sets and enables heart (recommended only in daemon mode)
# case $RELEASE_COMMAND in
#   daemon*)
#     HEART_COMMAND="$RELEASE_ROOT/bin/$RELEASE_NAME $RELEASE_COMMAND"
#     export HEART_COMMAND
#     export ELIXIR_ERL_OPTIONS="-heart"
#     ;;
#   *)
#     ;;
# esac

# Set the release to work across nodes. If using the long name format like
# the one below (my_app@127.0.0.1), you need to also uncomment the
# RELEASE_DISTRIBUTION variable below. Must be "sname", "name" or "none".

export POD_A_RECORD=$(echo $POD_IP | tr . -)
export RELEASE_DISTRIBUTION=name
export RELEASE_NODE=<%= @release.name %>@<%= "${POD_A_RECORD}.${NAMESPACE}.pod.cluster.local" %>
#export RELEASE_NODE=exneuland@<%= "${POD_IP}" %>
